<form #f="ngForm" (submit)="onSubmit(f)" [timeOut]="2000">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <ex-input-text
      name="login"
      ngModel
      type="email"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    ></ex-input-text>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <ex-input-text
      name="password"
      ngModel
      type="password"
      id="exampleInputPassword1"
      placeholder="Password"
    ></ex-input-text>
  </div>
  <div class="form-check">
    <input
      name="rememberMe"
      [ngModel]="false"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
    />
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        name="radioOption"
        type="radio"
        class="form-check-input"
        id="exampleCheck1"
        value="option1"
      />
      <label class="form-check-label" for="exampleCheck1">Option 1</label>
    </div>
    <div class="form-check">
      <input
        name="radioOption"
        ngModel
        type="radio"
        class="form-check-input"
        id="exampleCheck1"
        value="option2"
      />
      <label class="form-check-label" for="exampleCheck1">Option 2</label>
    </div>
    <div class="form-check">
      <input
        name="radioOption"
        ngModel
        type="radio"
        class="form-check-input"
        id="exampleCheck1"
        value="option3"
      />
      <label class="form-check-label" for="exampleCheck1">Option 3</label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check" *ngFor="let option of options; index as i">
      <input
        name="options"
        type="checkbox"
        [(ngModel)]="option.checked"
        [ngModelOptions]="{ standalone: true }"
        class="form-check-input"
        id="exampleCheck1"
      />
      <label class="form-check-label" for="exampleCheck1">{{
        option.label
      }}</label>
    </div>
  </div>
  {{ f.errors | json }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
